<div class="fluid-container m-5 text-responsive" style="background-color: #F2F2F2;">
    <div class ="m-5 text-responsive">
        <br>
        <h2>Experience</h2>
    </div>
    <div class ="fluid-container m-5">
        <div class="row">
            <div class="col-sm-4">
              <div class="card">
                <img src="../../../assets/images/Kobalt_logo.svg" class="card-img-top" alt="Kobalt Logo">
                <div class="card-body">
                    <h5 class="card-title">Kobalt Music Group</h5>
                    <p class="card-text">
                        • Development and maintenance of the company's in-house music rights management software consisting of a Java 8 desktop application backed by an Oracle SQL database.
                        <br>
                        • Development of a microservice used to search a large music catalogue, consisting of a Java 8 RESTful API using the Dropwizard framework, an Elasticsearch cluster on AWS and a Python script to populate the Elasticsearch indices with data from the Oracle database (dockerized and deployed to the cloud).
                    </p>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="card">
                <img src="../../../assets/images/ticketmaster-icon.svg" class="card-img-top" alt="Ticketmaster Logo">
                <div class="card-body">
                    <h5 class="card-title">Ticketmaster International</h5>
                    <p class="card-text">
                        • Backend development and maintenance of the company's consumer platform – consisting of a kubernetes backed microservice architecture.
                        <br>
                        • Development of microservices using Java 11, various database technologies (MySQL, Oracle), Apache SOLR, Fastly CDN and Gitlab’s CI/CD tools.
                        <br>
                        • Participation in teamwork-focused activities such as pair coding and code reviews.
                        <br>
                        • Handling of user queries, requests and bug reports.
                    </p>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="card">
                <img src="../../../assets/images/thortful logo.png" class="card-img-top" alt="Thortful Logo">
                <div class="card-body">
                    <h5 class="card-title">Thortful</h5>
                    <p class="card-text">
                        • Development and maintenance of the website’s backend - consisting of a collection of microservices and a single NoSQL database.
                        <br>
                        • Development of microservices using Java 8, Apache Kafka, external CRM APIs and Jenkins CI/CD tools.
                        <br>
                        • Creation of reports via MongoDB database queries.
                        <br>
                        • Participation in agile team ceremonies such as sprint planning, retrospectives, demonstrations and daily standups – experience of both Scrum and Kanban methodologies.
                    </p>
                </div>
              </div>
            </div>
        </div>





    </div>
    <br>
</div>