<div class="fluid-container m-5 text-responsive" style="background-color: #F2F2F2;">
    <div class ="m-5 text-responsive">
        <br>
        <h2>Tools</h2>
    </div>
    <div class ="fluid-container m-5">
        <p>The following are technologies I have used in personal and/or proffesional projects:</p>
        <div class="row">
            <div class="col">
                <img src="../../../assets/images/Java-01.svg" height="100" >
            </div>
            <div class="col">
                <img src="../../../assets/images/Amazon-aws-01.svg" height="100" >
            </div>
            <div class="col">
                <img src="../../../assets/images/Mongodb-03.svg" height="100" >
            </div>
            <div class="col">
                <img src="../../../assets/images/Kubernetes-01.svg" height="100" >
            </div>
            <div class="col">
                <img src="../../../assets/images/Terraform-02.svg" height="100" >
            </div>
        </div>
        <div class="row">
            <div class="col">
                <img src="../../../assets/images/Oracle-01.svg" height="100" >
            </div>
            <div class="col">
                <img src="../../../assets/images/PostgreSQL-01.svg" height="100" >
            </div>
            <div class="col">
                <img src="../../../assets/images/MySQL-01.svg" height="100" >
            </div>
            <div class="col">
                <img src="../../../assets/images/Elastic-Stack-01.svg" height="100" >
            </div>
            <div class="col">
                <img src="../../../assets/images/Git-wordmark-01.svg" height="100" >
            </div>
        </div>
        <div class="row">
            <div class="col">
                <img src="../../../assets/images/Angular-04.svg" height="100" >
            </div>
            <div class="col">
                <img src="../../../assets/images/Typescript-02.svg" height="100" >
            </div>
            <div class="col">
                <img src="../../../assets/images/HTML-5-01.svg" height="100" >
            </div>
            <div class="col">
                <img src="../../../assets/images/CSS-3-01.svg" height="100" >
            </div>
            <div class="col">
                <img src="../../../assets/images/Jenkins-04.svg" height="100" >
            </div>
        </div>
    </div>
    <br>
</div>