<div class="fluid-container m-5" style="background-color: #F2F2F2;">
    <div class ="m-5 text-responsive">
        <br>
        <h2>Education</h2>
    </div>
    <div class ="m-5 text-responsive">
        <h4>BSc (Hons) in Computing Science</h4>
        <h5>University of East Anglia, 2016</h5>
    </div>
    <div class="m-5 lh-base text-responsive">
        My degree curriculum consisted of modules including (but not limited to) Programming, Data Structures & Algorithms, Mathematics, Software Engineering, Systems Analysis, Systems Engineering, Networking, Sound & Image Manipulation and Graphics.
        This wide range of topics granted me an excellent introduction to the field.
        <br>
        <br>
        My final year project involved developing a ride-sharing app for the Android operating system.
        It consisted of multiple phases including research of the problem domain, object-oriented analysis/ design, implementation of the application and post-implementation testing and reflection.
        <br>
        <br>
    </div>
</div>