<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Caine Cridland">
    <title>Caine Cridland | Software Engineer</title>
  </head>
  <body>
    <main>
      <div class="container-fluid">
        <div class="row">
            <div class="col-2 px-1 position-fixed" id="sticky-sidebar">
                <div class="flex-column flex-nowrap vh-100 overflow- p-2">
                    <app-sidebar class="container-fluid"></app-sidebar>
                </div>
            </div>
            <div class="col-10 offset-2" id="main">
              <div class="page-content">
                <app-profile></app-profile>
              </div>
            </div>

            <!-- TODO: use ngClass to hide the sidebar and change the profile div to col-12 and remove offset-2 on mobile -->
            <!-- <div class="col-12" id="main">
                <div class="page-content">
                  <app-profile></app-profile>
                </div>
              </div> -->



        </div>
      </div>
    </main>
  </body>
</html>
