<div class="container" style="background-color: green; border-color: red; border-width: 5px;">
    <div class="row">
        <span class="text-center">
            <img src="...">
        </span>   
    </div>
    <div class="row">
        <div class="container">
            <h3 class="text-center" style="color: white;">Caine Cridland</h3>
            <h5 class="text-center"style="color: white;">Software Engineer</h5>
        </div>
    </div>
    <div class="row">
        <div class="container">
            <a href="#" class="text-center nav-link">Experience</a>
            <a href="#" class="text-center nav-link">Skills</a>
            <a href="#" class="text-center nav-link">Tools</a>
            <a href="#" class="text-center nav-link">Projects</a>
            <a href="#" class="text-center nav-link">Contact</a>
        </div>
    </div>
    <div class="row text-center" style="bottom: 0; background-color: blue;">
        <div class="col" style="color: white;">
            <sub>Hand crafted by Caine Cridland &copy; 2021</sub>
        </div>
    </div>
</div>
