<div class="fluid-container m-5" style="background-color: #F2F2F2;">
    <div class ="m-5 text-responsive">
        <br>
        <h1>Hello!</h1>
    </div>
    <div class="m-5 lh-base text-responsive">
        <b>My name is Caine.</b> I'm a software engineer based in London with a passion for programming and a love of engineering solutions to problems, whatever form they may take.
        I consider myself to be a dedicated computer scientist that is eager to learn and enjoys seeing projects from concept through to testing and deployment.
        <br>
        <br>
        My degree curriculum consisted of modules including (but not limited to) Programming, Data Structures & Algorithms, Mathematics, Software Engineering, Systems Analysis, Systems Engineering, Networking, Sound & Image Manipulation and Graphics.
        This wide range of topics granted me an excellent introduction to the field.
        My past several years of working as a software engineer have compounded that experience with profound insight into programming in a professional context, allowing me to gain hands-on experience of industry standard best-practices, cutting edge technologies and a greater understanding of the field.
        <br>
        <br>
        Currently? I'm in the process of upskilling my front-end development abilities, with a view to transition into full-stack development.
        <br>
        <br>
    </div>
</div>